{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "airbnb",
    "prettier",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsonc/recommended-with-jsonc",
    "plugin:sort-export-all/recommended"
  ],
  "plugins": [
    "prettier",
    "react",
    "react-hooks",
    "sort-destructure-keys",
    "sort-keys-fix",
    "jsonc",
    "sort-export-all"
  ],
  "parserOptions": {
    "ecmaVersion": 12,
    "requireConfigFile": false,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "impliedStrict": true
    }
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "."
        ]
      }
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "func-names": 0,
    "import/extensions": 0,
    "lines-between-class-members": 0,
    "no-restricted-syntax": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "react/jsx-props-no-spreading": 0,
    "react/require-default-props": 0,
    "react/jsx-sort-props": "warn",
    "jsonc/sort-keys": "warn",
    "no-unused-vars": [
      "warn",
      {
        "ignoreRestSiblings": false
      }
    ],
    "sort-destructure-keys/sort-destructure-keys": "warn",
    "sort-export-all/sort-export-all": "warn",
    "sort-keys-fix/sort-keys-fix": "warn"
  },
  "overrides": [
    {
      "files": [
        "package.json",
        "package-lock.json"
      ],
      "rules": {
        "jsonc/sort-keys": 0
      }
    }
  ],
  "ignorePatterns": [
    "package-lock.json"
  ]
}